html,body {
  margin: 0;
  padding: 0
}

body {
  font: 76% arial, sans-serif;
  text-align: center
}

p {
  margin: 0 10px 10px
}

a {
  padding: 5px;
  text-decoration: none;
  color: #000000;
}
div#utility {
	float: top;
    height: 35px;
    font-size: 13px;    
    font-weight: bold;
    text-align: right;   
	text-decoration: underline;
}
div#utility ul{
	height: auto;
    padding: 8px 0px;
    margin: 0px;

}

#utility li { 

display: inline; 
padding: 20px; 
}

div#nav {
   
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
   
    text-shadow: 3px 2px 3px #333333;
    background-color: #89918f;
    text-align: center;  
	text-decoration: underline;
	
}
div#nav ul{
	height: auto;
    padding: 8px 0px;
    margin: 0px;

}
div#nav li{
  display: inline; 
  padding: 20px;
}

div#header {
position: relative;
  background-color: #F3F2ED;
  border-radius: 8px;
  border-style: solid;
    border-width: 1px;
}

div#header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;
}

div#container {
  text-align: left
}

div#content p {
  line-height: 1.4
}


div#sidebar ul {
  margin: 15px 0;
  padding: 0;
  list-style-type: none;
}

div#sidebar li {
  margin-bottom: 5px;
}



div#footer {
  background: #BFBD93;
  border-radius: 8px;
  
}
div#footer li{
  display: inline; 
  text-decoration: underline;
}

div#footer p {
  margin: 0;
  padding: 5px 10px
}

div#container {
  width: 700px;
	margin: 100 auto
	
}
div#content {
  background: #F6F0E0;
  border-radius: 8px;
  
}
div#content {
  float: left;
  width: 500px
  
}

div#sidebar {
  float: right;
  width: 200px;
  
}


div#footer {
  clear: both;
  width: 100%
  
}